################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/xConsole.Logic/obj
/xConsole.Logic/.vs/xConsole.Logic
/.vs
/xConsole.Logic/.vs/ProjectEvaluation
/xConsole.Logic/bin/Debug/net8.0
